# Expo
.expo/
.expo-export-check/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Dependencies (hoisted to workspace root)
node_modules/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
